extends layout.jade

block content
   .panel.panel-default
      .panel-heading
         h1=dest.charAt(0).toUpperCase() + dest.slice(1)
         .info-box
            strong Warning!
            =' '
            | This alert needs your attention, but it's not super important.
      
      if (!posts)
        p No posters found
      else
        ul
          for post in posts
            li
              p=post.pictureUrl
              p=post.content
              p position [ 
                span=post.innerIndex
                =','
                span=post.outerIndex
                | ]

      .panel-body