extends layout.jade

block content
  .panel.panel-default
    .panel-heading
      h1=dest.charAt(0).toUpperCase() + dest.slice(1)
      .info-box
    .panel-body
      .playlist-block
          .controll-btns
            .btn-group(role='group' aria-label='...')
                a.btn.btn-default(type='button',href='/dashboard/events/new')
                  span.glyphicon.glyphicon-plus
                button.btn.btn-default(type='button')
                  span.glyphicon.glyphicon-search
        .playlist-window
        if (!events)
          p You don't plan events yet
        else
          table.table.table-striped.events-list
            thead
              td.title Title - Location
              td.date Date
              td.duration Duration
              td.edit Edit
              td.remove Remove
            for event in events
              tr
                td.title= event.artist + ' - ' + event.title
                td.date= event.date + ' ' + event.time
                td.duration= event.dur
                td.edit
                  a.btn.btn-default.glyphicon.glyphicon-edit(
                    href='/dashboard/events/'+event._id)
                td.remove
                  form(method='post', action='/dashboard/events/'+event._id+'/remove')
                    button.btn.btn-warning.glyphicon.glyphicon-remove(
                    type='submit')
