extends layout.jade


block content
  -var event_id = event._id || '/dashboard/events'
  .panel.panel-default
    .panel-heading
      h1=dest.charAt(0).toUpperCase() + dest.slice(1)
    .panel-body
      .row.poster-edit
        .col-xs-12
          form(action=event_id+'/save', method='post')
            // Form Name
            legend Event ##{event._id}
            // Text input
            .form-group
              label.control-label(for='artist') Title
              input#artist.form-control(name='artist', type='text',
                placeholder='event title', value=event.artist)
            // Text input
            .form-group
              label.control-label(for='title') Location
              input#title.form-control(name='title', type='text',
                placeholder='event place', value=event.title)
            // Text input
            .col-xs-4
              .form-group
                label.control-label(for='date') Date:
                input#date.form-control(name='date', type='text',
                  placeholder='YYYY-MM-DD', value=event.date)
            .col-xs-4
              .form-group
                label.control-label(for='time') Time:
                input#time.form-control(name='time', type='text',
                  placeholder='hh:mm', value=event.time)
            .col-xs-2
              .form-group
                label.control-label(for='hours') hours
                input#hours.form-control(name='hours', type='text',
                  placeholder='hh', value=event.hours)
            .col-xs-2
              .form-group
                label.control-label(for='minutes') minutes
                input#minutes.form-control(name='minutes', type='text',
                  placeholder='mm', value=event.minutes)
            .form-group
              .btn-group
                button#savebtn.btn.btn-primary( type='submit') Save
                a#cancelbtn.btn.btn-default( href='.') Cancel
          if (event_id !== '/dashboard/events')
            .btn-group.pull-right
              form(action=event._id+'/remove', method='post')
                button.btn.btn-danger(type='submit') Delete