extends layout.jade

block content
  .panel.panel-default
    .panel-heading
      h1=dest.charAt(0).toUpperCase() + dest.slice(1)
      .info-box
        strong Warning!
        =' '
        | This alert needs your attention, but it's not super important.
    .panel-body
      .playlist-block
        //- button#day-upload.upload-playlist Upload Playlist
        button(id=context).set-playlist Set playlist
        .playlist-window
          table.playlist-tracks
            //- for track in playlist
              tr
                td= track.time
                td= track.file
                td= track.artist
                td= track.title
